<center><head><img src="banner.png" alt="Local Restaurant">
    <link  href="css/styles.css" rel="stylesheet"  type="text/css"/>
        <div>
        <a href = '/about.html'> <button class="button button1">About Us</button></a>
        <a href = '/menu.html'> <button class="button button1">Today's Menus</button></a>
        <a href = '/contact'><button class="button button1">Contact Us</button> </a>
        <a href = '/login'><button class="button button1">Staff Login</button></a>
        </div>
    
    </head>
 <title>{{title}}</title></center>