<html lang="en">
<head>
{{>header}}

</head>

<body >
<center><h1>Contact Us</h1></center>

    <form method="post" role="form">
        <p class = "b">
            <label for="customer_name"; >Name</label>
            <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Name" required>
        
       </p>
      
       <p class = "b">
            <label for="email_address"; >Email</label>
            <input type="text" class="form-control" id="subject" name="email_address" placeholder="Email" required>
        </p>
        
       
      <p class = "b">
            <label for="comment"; >Comment</label>
            <textarea class="form-control" id="comment" name="comment" placeholder="Message." rows="12"    required></textarea>
     </p>
   
     <p class = "b">
        <label for "space-filler";>  </label>
       <input type="submit" value="Submit" class="button button3" >
        </p>  
        
        
    </form>
    
   
     
</body>
</html>