<html lang="en">
<head>
{{>header}}
</head>
<center>
<body>
<h1>Select Action</h1>
  
            <div>
               <a href= "/viewcomments"> <button type="button" class="button button3" >View Comments</button></a>

    </div>
    <div>
       <a href= "/adddish"> <button type="button" class="button button3" >Add new dish</button></a>

</div>
<div>
</div>
<div>
    <a href = "/delete"><button type="button" class="button button3" >Delete dish</button></a>

</div>
<div>
  <a href = "/geteditdish">  <button type="button" class="button button3" >Edit dish</button></a>

</div>
<div>
    <a href = "/editlunchmenu"> <button type="button" class="button button3" >Edit lunch menu</button></a>

</div>
<div>
    <a href = "/editdinnermenu"> <button type="button" class="button button3" >Edit dinner menu</button></a>

</div>
<div>
   <a href = "/logout"> <button type="button" class="button button3" >Logout</button></a>

</div>
</body>
</center>
</html>