<html>
    <head>
    {{>header2}}
      
     
    </head>
    <body>
        <h1>Dish succesfully added to database</h1>
        <p class = "a"> You will now be returned to the action select screen...</p>
        <meta http-equiv="Refresh" content="2; url='/loggedin'" />
    </body>
</html>