<html lang="en">
<head>
{{>header}}
</head>
<body>
<center><h1>Staff Login</h1>
 

        <form method="POST" action="/login">
         <div class="form-group">
         <p class = "b">
                <label for="username">
                    Username
                </label>
                
                    <input type="text" class="form-control"  id="username" name="username" placeholder="username">
                
            </P>
            </div>
            <div class="form-group">
        <p class = "b">
                <label for="password">
                    Password
                </label>
                
                
                    <input type="password" class="form-control"  id="password" name="password"placeholder="password">
               
            </p>
            </div>
           
          <p class = "b">
 <label for="space";>  </label>
 </p>
 <p class = "b">
            <input type="submit" value="Confirm" class="button button3">
            </p>

          
        </form>
        </center>
 
</body>


</html>